<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <div id="title"><h3>컴퓨터공학과 사물함 신청</h3></div>
      <br />

      <img
        src="https://github.com/cow-coding/cow-coding.github.io/blob/master/image/Emblem_tran.png?raw=true"
        id="icon"
        alt="User Icon"
      />
    </div>

    <!-- Login Form -->
    <form action="" method="POST">
      <div id="end_text"><h3>신청해주셔서 감사합니다.</h3></div>
    </form>
  </div>
</div>
